In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

This sets the first 3 rows of the film awards file to the BestPicture variable

In [5]:
BestPicture = pd.read_excel('Film_Awards.xlsx', skiprows=1, nrows=3)
BestPicture

,Year,Academy Award,Director,Golden Globe - Drama,Director.1,Golden Globe - Musical or Comedy,Director.2
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

This ensures that each column is set to a string and the year is set to a uint16

In [6]:
BestPicture = BestPicture.astype(
    {'Year': np.uint16,
    'Academy Award': pd.StringDtype(),
    'Director': pd.StringDtype(),
    'Golden Globe - Drama': pd.StringDtype(),
    'Director.1': pd.StringDtype(),
    'Golden Globe - Musical or Comedy': pd.StringDtype(),
    'Director.2': pd.StringDtype()
    }
)
print(BestPicture.dtypes)

Year                                uint16
Academy Award                       string
Director                            string
Golden Globe - Drama                string
Director.1                          string
Golden Globe - Musical or Comedy    string
Director.2                          string
dtype: object

This renames the incorrectly named Director columns

In [7]:
BestPicture.rename(columns= { 'Director.1': 'Director', 'Director.2' : 'Director'}, inplace=True)
BestPicture

,Year,Academy Award,Director,Golden Globe - Drama,Director,Golden Globe - Musical or Comedy,Director
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

This sets the 3 rows after the 8th to the variable of BestActor

In [8]:
BestActor = pd.read_excel('Film_Awards.xlsx', skiprows=8, nrows=3)
BestActor

,Year,Academy Award,Film,Golden Globe - Drama,Film.1,Golden Globe - Musical or Comedy,Film.2
0,2019,Joaquin Phoenix,Joker,Joaquin Phoenix,Joker,Taron Egerton,Rocketman
1,2018,Rami Malek,Bohemian Rhapsody,Rami Malek,Bohemian Rhapsody,Christian Bale,Vice
2,2017,Gary Oldman,Darkest Hour,Gary Oldman,Darkest Hour,James Franco,The Disaster Artist

This ensures that each column is set as a string and the year colunm as a uint16

In [9]:
BestActor = BestActor.astype(
    {'Year': np.uint16,
    'Academy Award': pd.StringDtype(),
    'Film': pd.StringDtype(),
    'Golden Globe - Drama': pd.StringDtype(),
    'Film.1': pd.StringDtype(),
    'Golden Globe - Musical or Comedy': pd.StringDtype(),
    'Film.2': pd.StringDtype()
    }
)
print(BestActor.dtypes)

Year                                uint16
Academy Award                       string
Film                                string
Golden Globe - Drama                string
Film.1                              string
Golden Globe - Musical or Comedy    string
Film.2                              string
dtype: object

This corrects the incorrectly named film columns

In [10]:
BestActor.rename(columns= { 'Film.1': 'Film', 'Film.2' : 'Film'}, inplace=True)
BestActor

,Year,Academy Award,Film,Golden Globe - Drama,Film,Golden Globe - Musical or Comedy,Film
0,2019,Joaquin Phoenix,Joker,Joaquin Phoenix,Joker,Taron Egerton,Rocketman
1,2018,Rami Malek,Bohemian Rhapsody,Rami Malek,Bohemian Rhapsody,Christian Bale,Vice
2,2017,Gary Oldman,Darkest Hour,Gary Oldman,Darkest Hour,James Franco,The Disaster Artist

This sets the 3 rows after the 15th to the variable of BestActress

In [11]:
BestActress = pd.read_excel('Film_Awards.xlsx', skiprows=15, nrows=3)
BestActress

,Year,Academy Award,Film,Golden Globe - Drama,Film.1,Golden Globe - Musical or Comedy,Film.2
0,2019,Renée Zellweger,Judy,Renée Zellweger,Judy,Awkwafina,The Farewell
1,2018,Olivia Colman,The Favourite,Glenn Close,The Wife,Olivia Coleman,The Favourite\n
2,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Saoirse Ronan,Lady Bird

This ensures that each column is set as a string and the year colunm as a uint16

In [12]:
BestActress = BestActress.astype(
    {'Year': np.uint16,
    'Academy Award': pd.StringDtype(),
    'Film': pd.StringDtype(),
    'Golden Globe - Drama': pd.StringDtype(),
    'Film.1': pd.StringDtype(),
    'Golden Globe - Musical or Comedy': pd.StringDtype(),
    'Film.2': pd.StringDtype()
    }
)
print(BestActress.dtypes)

Year                                uint16
Academy Award                       string
Film                                string
Golden Globe - Drama                string
Film.1                              string
Golden Globe - Musical or Comedy    string
Film.2                              string
dtype: object

This corrects the incorrectly named film columns

In [13]:
BestActress.rename(columns= { 'Film.1': 'Film', 'Film.2' : 'Film'}, inplace=True)
BestActress

,Year,Academy Award,Film,Golden Globe - Drama,Film,Golden Globe - Musical or Comedy,Film
0,2019,Renée Zellweger,Judy,Renée Zellweger,Judy,Awkwafina,The Farewell
1,2018,Olivia Colman,The Favourite,Glenn Close,The Wife,Olivia Coleman,The Favourite
2,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Saoirse Ronan,Lady Bird

This displays each award category

In [18]:
display(BestPicture)
display(BestActor)
display(BestActress)

,Year,Academy Award,Director,Golden Globe - Drama,Director,Golden Globe - Musical or Comedy,Director
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

,Year,Academy Award,Film,Golden Globe - Drama,Film,Golden Globe - Musical or Comedy,Film
0,2019,Joaquin Phoenix,Joker,Joaquin Phoenix,Joker,Taron Egerton,Rocketman
1,2018,Rami Malek,Bohemian Rhapsody,Rami Malek,Bohemian Rhapsody,Christian Bale,Vice
2,2017,Gary Oldman,Darkest Hour,Gary Oldman,Darkest Hour,James Franco,The Disaster Artist

,Year,Academy Award,Film,Golden Globe - Drama,Film,Golden Globe - Musical or Comedy,Film
0,2019,Renée Zellweger,Judy,Renée Zellweger,Judy,Awkwafina,The Farewell
1,2018,Olivia Colman,The Favourite,Glenn Close,The Wife,Olivia Coleman,The Favourite
2,2017,Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Frances McDormand,"Three Billboards Outside Ebbing, Missouri",Saoirse Ronan,Lady Bird